body {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 400;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.main-header {
    padding-bottom: 60px;

    background-color: #f4f7f9;
}

.header-control_bar-wrapper {
    width: 100%;

    background-color: #293449;
}

.header-control_bar {
    display: flex;
    align-items: center;

    font-size: 17px;
    line-height: 1.06;
    color: #fff;

    background-color: #293449;
}

.control_bar-logo {
    width: 220px;
    height: 47px;

    background-color: #ee3643;
}

.header-logo:hover,
.header-logo:active {
    background-color: #ba2732;
}

.control_bar-search {
    margin-left: 17px;

    color: #fff;

    background-color: #293449;
}

.control_bar-search:hover {
    background-color: #212a3a;
}

.control_bar-search:focus {
    color: #000;

    background-color: #ffffff;
}

.header-control_bar a {
    color: #fff;
    text-decoration: none;
}

.control_bar-favorites {
    display: block;
    width: 150px;
    align-self: stretch;
    margin-left: auto;
}

.control_bar-shopping_basket {
    display: block;
    width: 150px;
    align-self: stretch;
}

.basket_active {
    background-color: #ee3643;
}

.control_bar-favorites:hover,
.control_bar-shopping_basket:hover {
    background-color: #161d29;
}

.control_bar-favorites:active,
.control_bar-shopping_basket:active {
    opacity: 0.6;
}

.favorites-count,
.shopping_basket-count {
    margin-left: 5px;
}

.control_bar-purchase {
    width: 150px;
    align-self: stretch;

    background-color: #63a63e;
}

.control_bar-purchase:hover {
    background-color: #5fbb2d;
}

.control_bar-purchase:active {
    opacity: 0.5;

    background-color: #518534;
}

.header-content {
    display: flex;
    margin-top: 46px;
}

.header-content-title {
    width: 196px;
    margin: 0;
    margin-left: 53px;

    font-size: 16px;
    font-style: italic;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ee3643;
}

.header-content-contancts {
    width: 270px;
    margin-left: 71px;
}

.header-content-contancts-phone {
    display: block;
    width: 270px;
    height: 45px;
    border: 2px solid white;
    box-sizing: border-box;

    font-size: 21px;
    line-height: 1;
    color: #ee3643;
    text-decoration: none;
}

.header-content-contancts-address {
    margin-top: 10px;

    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #32425c;
}

.header-content-user_menu {
    display: flex;
    width: 281px;
    margin: 0;
    margin-left: auto;
    justify-content: space-between;
}

.user_menu-login a {
    display: block;
    width: 121px;
    height: 45px;
}

.user_menu-registration a {
    display: block;
    width: 150px;
    height: 45px;
}

.user_menu-login a,
.user_menu-registration a {
    display: block;

    font-size: 21px;
    line-height: 1;
    color: #000;
    text-decoration: none;

    background-color: #fff;
}

.user_menu-login:hover a,
.user_menu-registration:hover a {
    color: #ee3643;
}

.user_menu-login:active a,
.user_menu-registration:active a {
    color: #000;
    opacity: 0.3;
}

.header-navigation-list {
    display: flex;
    height: 60px;
    margin-top: 44px;
    box-sizing: border-box;

    background-color: #32425c;
}

.header-navigation-item {
    flex-grow: 1;
}

.header-navigation-item:hover,
.header-navigation-item:active {
    background-color: #1d2739;
}

.header-navigation-item:active a {
    opacity: 0.5;
}

.header-navigation-item a {
    font-size: 17px;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
}

.main-info {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
}

.main-about_us {
    width: 519px;

    color: #000;

    background-color: #fff;
}

.main-about_us-title {
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
}

.main-about_us-text_content {
    margin-top: 35px;
    margin-bottom: 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 1.85;
}

.main-about_us-text_content:last-of-type {
    margin-top: 0;
}

.main-about_us-delivery_companies {
    margin-top: 30px;

    font-size: 18px;
    line-height: 1.11;
}

.main-about_us-delivery_companies li {
    margin-top: 20px;
}

.main-contacts-map {
    text-decoration: none;
}

.main-about_us-link {
    display: block;
    width: 220px;
    height: 38px;
    margin-top: 35px;

    font-size: 14px;
    line-height: 1.29;
    color: #ffffff;
    text-decoration: none;

    background-color: #ee3643;
}

.main-contacts-title {
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
}

.main-contacts-text_content {
    display: block;
    width: 179px;
    margin-top: 35px;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 1.85;
}

.main-contacts-map {
    margin-top: 30px;
}

.main-contacts-link {
    display: block;
    width: 300px;
    height: 38px;
    margin-top: 40px;

    font-size: 14px;
    line-height: 1.29;
    color: #ffffff;
    text-decoration: none;

    background-color: #ee3643;
}

.modal {
    display: none;
}

.main-footer {
    margin-top: 85px;

    background-color: #32425c;
}

.main-footer-navigation_block {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
}

.footer-navigation_block-logo {
    width: 220px;
    height: 68px;

    background-color: #ee3643;
}

.main-footer-navigation_block address {
    margin-top: 32px;
}

.footer-navigation_block-address {
    display: block;
    margin: 0;

    color: #f3f7f9;
}

.footer-navigation_block-navigation-list_1,
.footer-navigation_block-navigation-list_2 {
    display: flex;
    padding: 0;
    margin-top: 40px;
    justify-content: flex-end;
}

.footer-navigation_block-navigation-list_1 li,
.footer-navigation_block-navigation-list_2 li {
    margin-right: 60px;
}

.footer-navigation_block-navigation-list_1 li:last-child,
.footer-navigation_block-navigation-list_2 li:last-child {
    margin-right: 0;
}

.footer-navigation_block-navigation-item a {
    color: #f3f7f9;
    text-decoration: none;
}

.footer-navigation_block-navigation-list_2-item a {
    color: #ffd180;
    text-decoration: none;
}

.footer-navigation_block-navigation-item:hover a,
.footer-navigation_block-navigation-list_2-item:hover a {
    text-decoration: underline;
}

.footer-navigation_block-navigation-item:active a,
.footer-navigation_block-navigation-list_2-item:active a {
    opacity: 0.5;
    text-decoration: none;
}

.footer-info_block-wrapper {
    width: 100%;

    background-color: #293449;
}

.footer-info_block {
    display: flex;
    padding-top: 40px;
    padding-bottom: 35px;

    font-size: 16px;
    line-height: 1.13;
    color: #ffffff;
}

.footer-info_block-rights p {
    margin: 0;
}

.footer-info_block-social_buttons {
    margin: 0 auto;
}

.footer-info_block-social_buttons-list {
    display: flex;
}

.footer-info_block-social_buttons-list li {
    background-color: #212a3a;
    margin-left: 25px;
}

.footer-info_block-social_buttons-list li:first-child {
    margin-left: 0;
}

.footer-info_block-social_buttons-list li:hover,
.footer-info_block-social_buttons-list li:active {
    background-color: #ee3643;
}

.footer-info_block-contact_us {
    margin-right: 53px;
}

.footer-info_block-developer {
    margin-right: 15px;
}

.footer-info_block-contact_us a,
.footer-info_block-developer a  {
    color: #ffd180;
    text-decoration: none;
}

.footer-info_block-contact_us p,
.footer-info_block-developer p  {
    margin: 0;
}

.footer-info_block-contact_us:hover a,
.footer-info_block-developer:hover a {
    text-decoration: underline;
}

.footer-info_block-contact_us:active a,
.footer-info_block-developer:active a {
    opacity: 0.5;
    text-decoration: none;
}

/* Страница каталога */

.header-content-user-controls {
    margin-left: auto;
}

.header-content-user-controls-name {
    display: block;
    width: 299px;
    height: 45px;
    margin: 0;

    font-size: 21px;
    line-height: 1;
    color: #000;

    background-color: #fff;
}

.header-content-user-controls-name:active {
    opacity: 0.3;
}

.header-content-user-controls-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.header-content-user-controls-item {
    margin-left: 17px;
}

.header-content-user-controls-item:last-child {
    margin-left: 40px;
}

.header-content-user-controls-item a {
    font-size: 16px;
    line-height: 1.13;
    color: #32425c;
}

.header-content-user-controls-item a:hover {
    color: #ee3643;
}

.header-content-user-controls-item a:active {
    color: rgba(50, 66, 92, 0.3);
}

.main_content {
    background-color: #fff;
}

.main_content-breadcrumbs {
    display: flex;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

.main_content-breadcrumbs li {
    padding-left: 40px;
}

.main_content-breadcrumbs li:first-child {
    padding-left: 0;
}

.breadcrumbs-item {
    margin: 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 1.38;
    color: #000;
    text-decoration: none;
}

.main_content-title {
    display: block;
    padding: 30px;
    box-sizing: border-box;

    font-size: 30px;
    line-height: 1;
    color: #32425c;

    background-color: #f2f6f8;
}

.main_content-wrapper {
    display: flex;
    margin-top: 20px;
}

.main-filter {
    width: 220px;
}

.main-filter-form fieldset {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    margin: 0;
    margin-top: 20px;
}

.main-filter-title {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 1.38;
    color: #000;

    background-color: #f7f3ec;
}

.main-filter-legend {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    color: #000;
}

.main-filter-form-label {
    margin-top: 20px;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 1.33;
    color: #000;
}

.main-filter-form-label:disabled {
    opacity: 0.4;
}

.main-filter-form-submit {
    margin-top: 75px;
    width: 140px;
    height: 38px;
    padding: 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: center;

    background-color: #ffffff;
}

.main-filter-form hr {
    margin-top: 25px;
}

.main-shop {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.main-sort {
    display: none;
}

.main-item_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.main-item_list-item {
    width: 220px;
    height: 318px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-top: 21px;
}

.item_card-title {
    margin: 0;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
}

.item_card-button-buy {
    display: none;

    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;

    background-color: #63a63e;
}

.item_card-button-buy:hover {
    background-color: #5fbb2d;
}

.item_card-button-buy:active {
    background-color: #518534;
}

.item_card-button-favorite {
    display: none;

    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #32425c;

    background: transparent;
}

.item_card-button-favorite:active {
    opacity: 0.3;
}

.item_card-old_price {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    text-align: center;
    color: #999999;
    text-decoration: line-through;
}

.item_card-new_price {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    text-align: center;
    color: #ffffff;
}

.main-pagination {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 52px;
}

.main-pagination-item a {
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid #e5e5e5;
    margin-left: 10px;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.main-pagination-item:last-child a {
    width: 150px;
}

.main-pagination-active_page a {
    border: 0;

    color: #fff;

    background-color: #ee3643;
}
